# Environment-specific variables
# Copy this file to .env.dev or .env.qa etc.

# Base URLs
UI_BASE_URL=http://uitestingplayground.com
API_BASE_URL=https://httpbin.org

# API Auth
API_TOKEN=replace-with-token-if-needed
