<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Trading Website Test Suite" verbose="1" >
    <test name="UITests">
        <classes>
            <class name="com.tradingwebsite.tests.LoginTest" />
        </classes>
    </test>
    <test name="APITests">
        <classes>
            <class name="com.tradingwebsite.tests.AuthApiTest" />
        </classes>
    </test>
</suite>
