<!DOCTYPE suite SYSTEM \"http://testng.org/testng-1.0.dtd\">\n<suite name=\"Social Media Platform Tests\" parallel=\"tests\" thread-count=\"5\">\n    <test name=\"UI Tests\">\n        <classes>\n            <class name=\"com.example.tests.LoginTest\"/>\n            <class name=\"com.example.tests.SendMessagesTest\"/>\n            <class name=\"com.example.tests.ReceiveNotificationsTest\"/>\n            <class name=\"com.example.tests.OnlineStatusTest\"/>\n            <class name=\"com.example.tests.BlockUsersTest\"/>\n            <class name=\"com.example.tests.DeleteMessagesTest\"/>\n            <class name=\"com.example.tests.SendMultimediaMessagesTest\"/>\n        </classes>\n    </test>\n    <test name=\"API Tests\">\n        <classes>\n            <class name=\"com.example.tests.AuthApiTest\"/>\n        </classes>\n    </test>\n</suite>